@import url(./vendor/normalize.css);
@import url(./blocks/root/root.scss);
@import url(./blocks/main/main.scss);
@import url(./blocks/header/__title/header__title.scss);
@import url(./blocks/form/form.scss);
@import url(./blocks/form/__button/form__button.scss);
@import url(./blocks/list/list.scss);
@import url(./blocks/card/card.scss);
@import url(./blocks/card/__priority/card__priority.scss);
@import url(./blocks/card/__delete/card__delete.scss);
@import url(./blocks/card/__name/card__name.scss);
@import url(./blocks/card/__number/card__number.scss);